<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.staff_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @staff.url %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
