<h1><% provide(:title, @user.name) %></h1>
<div class="row">
  <aside class="col-sm-offset-4 col-sm-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  </div>
</div>
		<div class="table-responsive">
			<table class="table table-striped">
    			  <tr>
  				  <th> Course </th>
  				  <th> ECTS </th>
  				  <th> Institute </th>
  			  </tr>
			  <tr>
				 <% @user.courses.each do |course| %>
				 <td><%= course.course_name.html_safe %></td>
				 <td><%= course.ects %></td>
				 <td><%= course.institute.html_safe%></td>
			 </tr>
			  <% end%>
		  </table>
	  </div>
