<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ects</th>
      <th>Year</th>
      <th>Period</th>
      <th>Institute</th>
      <th>Description</th>
      <th>Goals</th>
      <th>Participation count</th>
      <th>Examination</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.ects %></td>
        <td><%= course.year %></td>
        <td><%= course.period %></td>
        <td><%= course.institute %></td>
        <td><%= course.description %></td>
        <td><%= course.goals %></td>
        <td><%= course.participation_count %></td>
        <td><%= course.examination %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
